@font-face {
    font-family: 'Playfair Display Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2) format('woff2'), url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff) format('woff'), url(../fonts/PlayfairDisplay/PlayfairDisplay-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Proxima Nova Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/ProximaNova/ProximaNova-Regular.woff2)format('woff2'), url(../fonts/ProximaNova/ProximaNova-Regular.woff) format('woff'), url(../fonts/ProximaNova/ProximaNova-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'FuturaPT Heavy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/FuturaPT/FuturaPT-Heavy.woff2)format('woff2'), url(../fonts/FuturaPT/FuturaPT-Heavy.woff) format('woff'), url(../fonts/FuturaPT/FuturaPT-Heavy.ttf) format('truetype');
}

@font-face {
    font-family: 'Georgia Italic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Georgia/Georgia-Italic.woff2)format('woff2'), url(../fonts/Georgia/Georgia-Italic.woff) format('woff'), url(../fonts/Georgia/Georgia-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Georgia/Georgia-Regular.woff2)format('woff2'), url(../fonts/Georgia/Georgia-Regular.woff) format('woff'), url(../fonts/Georgia/Georgia-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

address {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    padding: 0;
    background-color: transparent;
    border: transparent;
}

input {
    background-color: transparent;
    border: 0;
}

.main {
    min-height: 100vh;
    background-color: #454f53;
}

.article {
    padding: 0 70px;
    background-color: #fff;
}

.article-wrapper {
    border-left: 2px solid rgb(232, 236, 237);
    padding: 0 60px 30px;
}

.container {
    max-width: 1060px;
    width: 100%;
    margin: 0 auto;
}

.address {
    font-size: 20px;
    font-family: 'Proxima Nova Regular', sans-serif;
    color: rgb(180, 180, 180);
    text-transform: uppercase;
    line-height: 24px;
    margin-bottom: 30px;
}

.title {
    font-size: 78px;
    font-family: 'FuturaPT Heavy', sans-serif;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    line-height: 80px;
    margin-bottom: 10px;
}

.title-text {
    font-size: 30px;
    font-family: 'Georgia Italic', sans-serif;
    color: rgb(143, 143, 143);
    line-height: 32px;
    margin-bottom: 50px;
}

.paragraph {
    font-size: 28px;
    line-height: 38px;
    font-family: 'Georgia Regular', sans-serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.paragraph-text {
    margin-bottom: 30px;
}

.paragraph-text:last-child {
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}

.editor {
    margin-bottom: 30px;
    float: right;
    width: 100%;
}

.editor-top {
    float: right;
    width: 113%;
    margin-right: -200px;
    padding: 45px 0 45px 50px;
    background-color: #181818;
}

.editor-bottom {
    float: right;
    width: 102%;
    margin-right: -200px;
    padding: 16px 30px;
    background-color: #f9bf2d;
}

.editor-item {
    display: inline-block;
    margin-right: 20px;
}

.editor-button {
    opacity: 0.5;
    transition: all .2s linear;
    cursor: pointer;
}

.editor-button:hover {
    opacity: 1;
}

.editor-img-wrap {
    max-width: 30px;
    width: 100%;
}

.editor-img {
    display: block;
    width: 100%;
}

.editor-label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
    font-family: "Proxima Nova Regular", sans-serif;
    text-transform: uppercase;
}

.editor-text {
    padding-bottom: 20px;
    color: #fefefe;
    font-size: 48px;
    line-height: 50px;
    border-bottom: 2px solid #303030;
    width: 100%;
    font-family: "Playfair Display Regular", sans-serif;
}